@model PersonUpdateRequest

@{
    ViewBag.Title = "Edit Person";
}

<a asp-controller="Persons" asp-action="Index" class="link-hover">Back to Person List</a>

<h1>Edit Persons</h1>

<div style="margin: auto; max-width: 70%;">
    <form asp-controller="Persons" asp-action="Edit" method="post">

        <input type="hidden" asp-for="PersonID" />

        @*PersonName*@
        <div class="flex">
            <div class="w-25"><label asp-for="PersonName" class="form-label pt">Person Name</label></div>
            <div class="flex-1">
                <input asp-for="PersonName" class="form-input" />
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>

        @*Email*@
        <div class="flex">
            <div class="w-25"><label asp-for="Email" class="form-label pt">Email</label></div>
            <div class="flex-1">
                @*We don't need to define type="email" because we have defined DataType attribute in PersonAddRequest*@
                <input asp-for="Email" class="form-input" />
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
        </div>

        @*DateOfBirth*@
        <div class="flex">
            <div class="w-25"><label asp-for="DateOfBirth" class="form-label pt">Date of Birth</label></div>
            <div class="flex-1">
                <input class="form-input" asp-for="DateOfBirth" />
                <span asp-validation-for="DateOfBirth" class="text-red"></span>
            </div>
        </div>

        @*Gender*@
        <div class="flex">
            <div class="w-25"><label asp-for="Gender" class="form-label pt">Gender</label></div>
            <div class="flex-1">
                @foreach (string gender in Enum.GetNames(typeof(GenderOptions)))
                {
                    <input type="radio" value="@gender" id="@gender" asp-for="Gender" />
                    <label for="@gender">@gender</label>
                }
                <span asp-validation-for="Gender" class="text-red"></span>
            </div>
        </div>

        @*Gender*@
        <div class="flex">
            <div class="w-25"><label asp-for="CountryID" class="form-label pt">Country</label></div>
            <div class="flex-1">
                <select asp-for="CountryID" class="form-input" asp-items="@ViewBag.Countries">

                    <option value="">Please Select</option>

                    @*@foreach (CountryResponse country in ViewBag.Countries)
                    {
                    <option value="@country.CountryID">@country.CountryName</option>
                    }*@
                </select>
                <span asp-validation-for="CountryID" class="text-red"></span>
            </div>
        </div>

        @*Address*@
        <div class="flex">
            <div class="w-25"><label asp-for="Address" class="form-label pt">Address</label></div>
            <div class="flex-1">
                <textarea class="form-input" asp-for="Address"></textarea>
                <span asp-validation-for="Address" class="text-red"></span>
            </div>
        </div>

        @*ReceiveNewsLetters*@
        <div class="flex">
            <div class="w-25"></div>
            <div class="flex-1">
                @*bool -> checkbox*@
                <input asp-for="ReceiveNewsLetters" value="true" />
                <label asp-for="ReceiveNewsLetters">Receive News Letters</label>
                <span asp-validation-for="ReceiveNewsLetters" class="text-red"></span>
            </div>
        </div>

        <div class="flex">
            <div class="w-25"></div>
            <div class="flex-1">
                <button class="button button-green-back">Update</button>

                @* @if (ViewBag.Errors != null)
                {
                <div class="text-red ml">
                <ul>
                @foreach (string error in ViewBag.Errors)
                {
                <li class="ml">@error</li>
                }
                </ul>
                </div>
                }*@

                <div asp-validation-summary="All"></div>
            </div>
        </div>
    </form>
</div>


@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        asp-fallback-test="window.jQuery"
        asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"
        asp-fallback-test="window.jQuery.validator"
        asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"
        asp-fallback-test="window.jQuery.validator.unobtrusive"
        asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}


